
<div class="container-fluid">
    <div class="row">
        <div class="col text-white" style="height: 150px; text-align: center; background: rgb(74, 134, 87);">
            <h2 style="margin-top: 50px;">Anket Yönetim Platformu</h2>
            <button class="btn btn-primary" style="float: left;" [routerLink]="['/']">Geri Dön</button>
        </div>
    </div>
</div>
<div class="contianer m-5">
    <div class="row">
    </div>
    <div class="row" ngModel>
        <form>
        <div class="col-md-12"  style="width: 800px; margin: auto;">
                <div class="card mt-3" >
                    <div class="card-header bg-danger text-white">
                        <h4>Kayıt Silinicektir</h4>
                    </div>
                    <div class="card-body">
                        <h6>{{secicerik.baslik}} kaydı siliceksiniz</h6>
                        <h4>Emin misiniz?</h4>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-warning" (click)="Sil()">Sil</button>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>

